<div>

    <form name="frm">
        <input type="text" ng-model="vm.currentInput" placeholder="Enter a task" />
        <button type="submit" ng-click="vm.addToList()">Add</button>
    </form>

    <div>Active Task</div>
    <div ng-repeat="todo in vm.activeList">
        <input type="checkbox" ng-model="todo.completed" />
        <span>{{todo.task}}</span>
    </div>
    <button type="submit" ng-click="vm.moveToComplete()">Mark as Complete</button>

    <br/>

    <div>Completed Task</div>
    <div ng-repeat="todo in vm.completedList">
        <input type="checkbox" ng-model="todo.completed" />
        <span>
            <del>{{todo.task}}</del>
        </span>
    </div>
    </ul>

</div>